@import "banner.css"; 
@import "button.css"; 
@import "cards.css"; 
@import "footer.css"; 


body{ 
    margin: 0%;
}

a{
    text-decoration: none;
    
}

.container{
    width: 75%;
    margin: 48px auto;
}

h2{
    text-align: center;
}

.tourisme{
    text-align: center;
    color: rgb(253, 253, 253);
    color: rgb(0, 59, 11);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 160%;
   
}

h3{
    font-family: 'Passion One', cursive;
    grid-template-columns: 1fr;
    font-size: 200%;
    text-shadow: 3px 5px 3px red;
    
}

.food{
    text-align: center;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    background-color: rgb(255, 80, 80);
}

.card-category {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  


h1{
  color: rgb(255, 255, 255);
}



.card-white{
  font-size: small;
}

.etiquette{
  font-size: 250%;
}

.nomdeville{
  font-size: 160%;
}



 
  